body {
  background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffa5, #00ced1);
  background-color: mediumspringgreen;
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
  background-repeat: repeat;
}


* {
    font-family: 'Dosis', sans-serif;
}

.container {
    margin: 0px 0px;  
    text-align: center;
    background-color: white;
    padding: 10px 0px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    border-radius: 10px;
  }
  
  .message {  
    background-color: #f1fdf4;
    margin: 20px;
    padding: 20px 40px;
    text-align: left;
    border-left: 5px solid #16b49f;
    cursor: pointer;
    border-radius: 5px;
    word-wrap: break-word;
    transition: 0.5s;
  }
  
  .message:hover {
    border-left: 5px solid #ccc;
    background-color: #a0f7eb;
    border-right: 5px solid #16b49f;
  }
  
  @media (min-width: 800px) {
    .container {
    margin: 30px 10%;
    margin-bottom: 30px;} 
    
    .message {  
    margin: 20px 50px;
    padding: 20px 50px;}
  }
  
  @media (min-width: 1200px){ 
    .container {
    margin: 0px 15%;
    margin-bottom: 30px;} 
    
    .message {  
    margin: 20px 80px;
    padding: 20px 50px;}
  }
  
  .field {
    width: 200px;
    line-height: 27px;
    padding-left: 10px;
    margin-right: 0px;
    border: 2px solid #70af9d;
    box-shadow: inset 0 0px 3px rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
  
  .field:hover, .field:focus {
    border: 1px solid #70af9d;
  }
  
  .button {
    line-height: 30px;
    box-sizing: border-box;
    color: #757575;
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 2px;
    font-family: 'Dosis', sans-serif;
    cursor: default;
    font-size: 14px;
    margin: 10px 5px;
    padding: 0 16px;
    text-align: center;
    border-radius: 3px;
  }
  
  .button:hover {
    color: #fff;
    border: 1px solid #aaa;
    box-shadow: 1 0 1px rgba(13, 243, 51, 0.5);
    background-color: #16ac93;
  }

  
  .search {
    margin-right: 30px;
  }
  
  .rnd {
    margin-left: 0px;  
    margin-right: 0px;
  }
  
  a {
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
  }
  
  h1 {
    font-family: 'Dosis', sans-serif;
    cursor: default;
  }
  
  span {
      font-style: italic;
    font-variant: normal;
    font-family: 'Dosis', sans-serif;  
  }
  
  h1:before {
    content: '';
    width: 150px;
    height: 150px;
    display: block;
    background-image: url("wiki_logo.gif");
    background-size: contain;
    background-repeat: no-repeat;
    margin: 10px auto;
    box-shadow: #16ac93;
  }
  
  .by, .by > a {
    color: #888;
    text-align: center;
    font-size: 14px;
    margin-bottom: 25px;
  }
  
.field {
  margin-top: 
}
  